.pointy-badge {
  font-size:        smaller;
  color:            #FFF !important;
  padding:          0 3px !important;
  color:            white;
  background-color: #888;
  border-radius:    3px;
}

.pointy-list-badges {
  margin: 4px 0 -4px 0;
  display: block;
  width: 100%;
}

.pointy-list-badges > .badge {
  font-size: small;
  float: right;
}