.pointy-badge {
  padding:          0 3px !important;
  border-radius:    3px;
}

.pointy-list-badges {
  margin: 4px 0 -4px 26px;
  display: block;
  width: 100%;
}

.pointy-list-badges > .badge {
  float: right;
}